<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>weblog</title>
    <link rel="stylesheet" href="/css/style.css">
</head>



<body>



<header>
    <a href="/home" class="logo" style="text-decoration: none; color: inherit;">
        weblog
    </a>

    <nav class="menu1" style="display: flex; gap: 20px;">
        <a href="/home" style="color: white;">Home</a>
        <div th:each="board : ${boardlist}" style="display: flex; flex-direction: column;">
            <a th:href="@{'board/' + ${board.boardId}}"
               th:text="${board.name}"
               style="color: white; text-decoration: none; font-weight: 500;"></a>
        </div>
    </nav>
</header>
<main id="page-content">
    <form th:action="@{'/comment/add/' + ${postId}}" method="post">
        <label>작성자ID : </label><input type="text" name="authorId"><br>
        <label>비밀번호 : </label><input type="password" name="password"><br>
        <label>내용 : </label>
        <textarea name="content" rows="5" cols="50"></textarea><br>
        <button type="submit">POST 댓글작성</button>
    </form>
</main>
<footer id="page-footer">
    <p>&copy; 2025 JeongHoon Corp. 모든 권리 보유.</p>
</footer>

</body>
</html>