<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>weblog</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>


<header>
    <a href="/home" class="logo" style="text-decoration: none; color: inherit;">
        weblog
    </a>

    <nav class="menu1" style="display: flex; gap: 20px;">
        <a href="/home" style="color: white;">Home</a>
        <div th:each="board : ${boardlist}" style="display: flex; flex-direction: column;">
            <a th:href="@{'board/' + ${board.boardId}}"
               th:text="${board.name}"
               style="color: white; text-decoration: none; font-weight: 500;"></a>
        </div>
    </nav>
</header>

<main id="page-content">
    <table class="centered">
        <tr>
            <th>게시판이름</th>
            <th>게시판설명</th>
        </tr>
        <tr th:each="board : ${ boardlist }">
            <td>
                <a th:href="@{'/board/' + ${board.boardId}}" th:text="${ board.name }"></a>
            </td>
            <td th:text="${ board.description }"></td>
        </tr>
    </table>
</main>




<footer id="page-footer">
    <p>&copy; 2025 JeongHoon Corp. 모든 권리 보유.</p>
</footer>

</body>

</html>
