<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BoardTest</title>
</head>
<body>
  <h1>BoardV5</h1>
  <h3>home</h3>
  <button onclick="location.href=''">빈칸->현재url로 이동</button>
  <button onclick="location.href='/'">/</button>
  <button onclick="location.href='/home'">/home</button>
  <button onclick="location.href='/home/'">/home/</button>
  <br>
  <h3>boardlist</h3>
  <button onclick="location.href='/board/1'">/board/1</button>
  <button onclick="location.href='/board/2'">/board/2</button>
  <button onclick="location.href='/board/3'">/board/3</button>
  <button onclick="location.href='/board/4'">/board/4</button>
  <button onclick="location.href='/board/5'">/board/5</button>
  <br>
  <h3>postDetail</h3>
  <button onclick="location.href='/post/1'">/post/1</button>
  <button onclick="location.href='/post/2'">/post/2</button>
  <button onclick="location.href='/post/3'">/post/3</button>
  <button onclick="location.href='/post/4'">/post/4</button>
  <button onclick="location.href='/post/5'">/post/5</button>
  <button onclick="location.href='/post/6'">/post/6</button>
  <br>
  <h3>postAdd</h3>
  <button onclick="location.href='/post/add/1'">post/add/1</button>
  <button onclick="location.href='/post/add/2'">post/add/2</button>
  <button onclick="location.href='/post/add/3'">post/add3</button>
  <h3>postUpdate</h3>
  <button onclick="location.href='/post/update/1'">/post/update/1</button>
  <button onclick="location.href='/post/update/2'">/post/update/2</button>
  <button onclick="location.href='/post/update/3'">/post/update/3</button>
  <h3>postDelete</h3>
  <button onclick="location.href='/post/delete/1'">/post/delete/1</button>
  <button onclick="location.href='/post/delete/2'">/post/delete/2</button>
  <button onclick="location.href='/post/delete/3'">/post/delete/3</button>



</body>
</html>